*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
*::before, *::after{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(207,207,207);
}
.container{
    width: 350px;
    height: 600px;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background:linear-gradient(#811235 20%, #5e224d 80%);
    box-shadow: 0px 6px 15px rgba(0,0,0,0.342);
}
.container i{
    cursor: pointer;
}
.top_bar, .pro, .song_timer, .controls, .music_list .header, .music_list ul li{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.top_bar i{
    font-size: 30px;
    color: #ffffff;
}
.top_bar i:first-child{
    margin-left: -7px;
    font-size: 22px;
}
.top_bar span{
    font-size: 18px;
    margin-left: -3px;
    color: #ffffff;
}
.imag{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ffffff, 
    0 0 2px #fff,
    13px 13px 20px #31313163,
    -10px -10px -10px #e6f6ff;
}
.imag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song_det{
    text-align: center;
    margin: 30px 0;
}
.song_det p{
    color: #ffffff;
}
.song_det .name{
    font-size: 21px;
}
.song_det .artist{
    font-size: 15px;
    opacity: 0.9;
    line-height: 35px;
}
.prog{
    height: 6px;
    width: 100%;
    border-radius: 56px;
    background: #f0f0f081;
    cursor: pointer;
}

.prog .prog_bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: #ffffff;
}
.prog_bar::before{
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius:50%;
    top: 50%;
    right: -5px;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-56%);
    background: inherit;
    transition: opacity 0.2s ease;
}
.prog:hover .prog_bar::before{
    opacity: 1;
    pointer-events: auto;
}
.prog .song_timer{
    margin-top: 2px;
}
.song_timer span{
    font-size: 15px;
    color: #ffffff;
}
.controls{
    margin: 70px 0 5px 0;
}
.controls i{
    font-size: 28px;
    user-select: none;
    background: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.controlsi:nth-child(2),
.controlsi:nth-child(4){
    font-size: 43px;
}
.controls #prev{
    margin-right: -13px;
    font-size: 38px;
  margin-left: 20px;
}
.controls #next{
    margin-left: -13px;
    font-size: 38px;
    margin-right: 20px;
}
.controls .play_pause{
    height: 60px;
    width: 60px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.paly_pause::before{
    position: absolute;
    content: "";
    height: 45px;
    width: 43px;
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: inherit;
}
.music_list{
    position: absolute;
    width: 100%;
    left: 0;
    height: 570px;
    pointer-events: none;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1) ;
    z-index: 5;
    opacity: 0;
    padding: 15px 30px;
    border-radius: 15px;
    background: 
    linear-gradient(rgba(177, 104, 104, 0.973), transparent),
    linear-gradient(to top left, rgb(0, 0, 0), transparent),
    linear-gradient(to top right, rgb(18, 92, 121), transparent);
    background-blend-mode: screen;
    transition: all 0.15s  ease-in-out;
}
.music_list.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.music_list.show::-webkit-scrollbar{
    display: none;
}
.music_list ul{
    margin-top: 10px 0;
    overflow: auto;
    padding-top: 22px;
}
.music_list ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: #000000;
    border-bottom: 1px solid #e5e5e5;
}
.music_list ul li:last-child{
    border-bottom: 0px;
}
.music_list ul li .row span{
    font-size: 17px;
}
.music_list ul li .row p{
    opacity: 0.6;
}
ul li .audio_dur{
    font-size: 16px;
}
.header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #0f1e75;
}
.header .row i{
    cursor: default;
}
.header .row span{
    margin-left: 5px;
}
.header #close{
    font-size: 30px;
    color: #364358;
}
.music_list ul::-webkit-scrollbar{
    width: 0;
}
.music_list ul li:hover{
    color: #0f1e75;
}
ul li.playing{
    pointer-events: none;
    color: #0f1e75;
}
.music_list .album-art {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.music_list .music-info {
    display: inline-block;
}

.music_list .audio_dur {
    font-size: 0.9em;
    color: #555;
}
